@charset "UTF-8";
/* General styling */
body {
    font-family: Arial, sans-serif;
    font-size:x-large;
    margin: 0;
    padding: 0;
}

/* Sidebar styling */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #804040;
    padding-top: 20px;
    color: #fff;
    z-index: 100;
}

.sidebar a {
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #804040;
}

.sidebar .active {
    background-color: #804040;
}

/* Main content styling */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size:x-large;
    color: #6c63ff !important;
}

.btn-primary {
    background-color: #6c63ff;
    border: none;
}

.btn-primary:hover {
    background-color: #ad53ff;
}

/* Responsive Design: Mobile view */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 0;
    }
}
